@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,500&family=Ubuntu:ital,wght@1,300&display=swap');

.container {
    height: 80vh;
    width: 100%;
    display: grid;
    place-content: center;
    place-items: center;
}

body {
    background-color: whitesmoke;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 25px;
}

.card {
    padding: 10px;
    width: 30%;
    background-color: blueviolet;
    height: 40vh;
    overflow: auto;
    color: aliceblue;
    border-bottom: 3px solid crimson;
    border-left: 3px solid green;
    border-right: 3px solid blue;
    border-radius: 3px;
}

.center {
    text-align: center;
    font-size: 19px;
    padding: 10px;
    background-color: rgb(212, 27, 132);
    border-radius: 5px;
    cursor: pointer;

}

h1 {
    text-align: center;
    position: relative;
    top: 5rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 80%;
    }
}